<footer class="py-5 flx-aro mt-5 " style="background-color: #3e403f">
  <p class="flx-aro">
    <a class="navbar-brand" href="{{ path('index') }}">
      <img src="{{ asset("assets/img/logo_2.png") }}" class="__icon__footer" />
    </a>
  </p>
  <div class="flx-aro __links__footer">
    <a href="terminos.html" class="nav-link fw-white havelock">Términos y condiciones</a>
    <a href="terminos.html" class="nav-link fw-white havelock">Políticas de privacidad</a>
    <a href="{{ path('contacto') }}" class="nav-link fw-white havelock">contacto123456</a>
  </div>
</footer>
